@layer type {
    @font-face {
        font-family: 'Soehne';
        src:
            url('../../fonts/soehne-buch.woff2') format('woff2');
        font-display: swap;
        font-weight: 400;
    }
    @font-face {
        font-family: 'Soehne fett';
        src:
            url('../../fonts/soehne-fett.woff2') format('woff2');
        font-display: swap;
    }
    @font-face {
        font-family: 'Soehne breit';
        src:
            url('../../fonts/soehne-breit-fett.woff2') format('woff2');
        font-display: swap;
    }
     @font-face {
        font-family: 'Soehne mono';
        src:
            url('../../fonts/soehne-mono-buch.woff2') format('woff2');
        font-display: swap;
        font-weight: 400;
    }

    body {
        font-family: 'Soehne', sans-serif;
        @apply antialiased;
    }

    blockquote p {
        font-family: 'Soehne breit', sans-serif;
        @apply text-[calc(1.25rem+2.25vw+2.25vh)] font-bold leading-tight;
    }


    .display, h1, .h1, h2, .h2, h4, h5, footer nav ul li {
        font-family: 'Soehne breit', sans-serif;
    }

    .bard p + * {
        margin-top: 1rem;
    }

    .display {
        @apply text-4xl md:text-[calc(1.5rem+2.5vw+2.5vh)] uppercase;
    }

    h1, .h1 {
        @apply text-[calc(1.25rem+2.25vw+2.25vh)] uppercase leading-tight;
    }

    h2 , .h2{
        @apply text-[calc(1rem+1vw+1vh)] uppercase font-bold;
    }

    h3, .h3 {
        @apply text-[calc(.85rem+.85vw+.85vh)] font-bold;
    }

    p, .p {
        @apply text-[calc(.55rem+.55vw+.55vh)]
    }

    small, .meta {
        font-family: 'Soehne mono', sans-serif;
        @apply text-[calc(.45rem+.45vw+.45vh)]
    }

    .soehne {
        font-family: 'Soehne', sans-serif;
    }

    .breit {
        font-family: 'Soehne breit', sans-serif;
    }
}