@layer type {
    @font-face {
        font-family: 'Soehne';
        src:
            url('../../fonts/soehne-buch.woff2') format('woff2');
        font-display: swap;
        font-weight: 400;
    }
    @font-face {
        font-family: 'Soehne fett';
        src:
            url('../../fonts/soehne-fett.woff2') format('woff2');
        font-display: swap;
    }
    @font-face {
        font-family: 'Soehne breit';
        src:
            url('../../fonts/soehne-breit-fett.woff2') format('woff2');
        font-display: swap;
    }
     @font-face {
        font-family: 'Soehne mono';
        src:
            url('../../fonts/soehne-mono-buch.woff2') format('woff2');
        font-display: swap;
        font-weight: 400;
    }

    body {
        font-family: 'Soehne', sans-serif;
        @apply antialiased;
    }

    .display, h1, .h1, h2, .h2, h4, h5, footer nav ul li, blockquote p {
        font-family: 'Soehne breit', sans-serif;
    }

    .bard p + * {
        margin-top: 1rem;
    }

    .display {
        @apply text-[2.5rem] md:text-[calc(1.75rem+2.5vw+2.5vh)] uppercase;
    }

    h1, .h1 {
        @apply text-[2.5rem] md:text-[calc(1.65rem+2.25vw+2.25vh)] uppercase leading-none;
    }

    h2 , .h2 {
        @apply text-[2rem] md:text-[calc(1.45rem+1.45vw+1.45vh)] uppercase font-bold leading-none;
    }

    h3, .h3 , .h3 p {
        @apply text-[1.75rem] md:text-[calc(.75rem+.75vw+.75vh)] font-normal leading-tight;
    }

    .intro, .intro p {
        @apply text-[1.35rem] md:text-[calc(.75rem+.75vw+.75vh)] font-normal md:leading-tight;
    }

    p, .p {
        @apply text-[1.35rem] md:text-[calc(.55rem+.55vw+.55vh)]
    }

    small, .meta {
        font-family: 'Soehne mono', sans-serif;
        @apply text-[.9rem] md:text-[calc(.45rem+.45vw+.45vh)]
    }

    .soehne {
        font-family: 'Soehne', sans-serif;
    }

    .breit {
        font-family: 'Soehne breit', sans-serif;
    }

    .markdown p + p, .editor p + p, .editor p + ul, .editor p + ol {
        @apply mt-single-space;
    }

    .editor ul,
    .editor ol {
      li {
        @apply lg:not-last:mb-3 pl-5 relative flex;
      }
    }

    .editor ul {
      li::before {
        @apply size-2 absolute top-[.75em] left-0 rounded-full content-[''] bg-current;
      }
    }

    .editor ol {
      counter-reset: count;
      li {
        counter-increment: count;
      }

      li::before {
        @apply absolute left-0 font-bold top-[.25em];
        content: counter(count, decimal) ".";
      }
    }

    .editor p a {
        @apply underline underline-offset-2 hover:no-underline focus:no-underline
    }
}